.user-message {
    border-radius: 15px;
    background-color: #008BFF;
    padding: 5px 20px;
    margin-left: auto;
    color: white;
    max-width: 180px;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}